/.vscode
/build
/imdb
/output*.txt
/*.tgz
/*.db
*.tar.gz
/TPC-H*
/job-sample
/.cache
/cache
/docs/html
/docs/xml
.clangd
.cache
.ccache
compile_commands.json
/env/
script.py
*.md
/build_deferred
/build_debug
/build_eager
