name: Build and Test Repo

on:
  push:
    branches:
      - main
      - opt
  pull_request:
    branches:
      - main
jobs:
  build_and_test:
    runs-on: self-hosted

    env:
      CCACHE_DIR: ${{ github.workspace }}/.ccache

    steps:
    - name: Checkout repository code
      uses: actions/checkout@v4

    - name: Setup cache
      uses: actions/cache@v4
      with:
        path: .ccache
        key: ${{ runner.os }}-ccache-${{ github.sha }}
        restore-keys: |
          ${{ runner.os }}-ccache-
      
    - name: Configure initial build with CMake
      run: |
        nix develop -c \
        cmake -S . -B build -Wno-dev \
        -DCMAKE_BUILD_TYPE=Release \
        -DCMAKE_C_COMPILER_LAUNCHER=ccache \
        -DCMAKE_CXX_COMPILER_LAUNCHER=ccache

    - name: Build all targets
      run: |
        nix develop -c \
        cmake --build build -- -j $(nproc) unit_tests

    - name: Run unit tests
      run: ./build/unit_tests

    - name: Cache stats
      run: nix develop -c ccache -s
