name: Build and Test Repo

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

  workflow_dispatch:

jobs:
  build_and_test:
    runs-on: 
      group: k23a

    steps:
    - name: Checkout repository code
      uses: actions/checkout@v4

    # - name: Install dependencies
    #   run: |
    #     sudo apt-get update

    - name: Configure initial build with CMake
      run: |
        cmake -S . -B build -DCMAKE_BUILD_TYPE=Release -Wno-dev

    - name: Build all targets
      run: cmake --build build -- -j $(nproc) unit_tests unit_tests_opt 


    - name: Run unit tests
      run: ./build/unit_tests

    - name: Run unit tests opt
      run: ./build/unit_tests_opt
