name: Build and Test Repo

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build_and_test:
    runs-on: self-hosted
    
    env:
      CCACHE_DIR: ${{ github.workspace }}/.ccache
    steps:
    - name: Checkout repository code
      uses: actions/checkout@v4
      
    - name: Cache ccache
      uses: actions/cache@v3
      with:
        path: .ccache
        key: ${{ runner.os }}-ccache-${{ github.sha }}
        restore-keys: |
          ${{ runner.os }}-ccache-

    - name: Configure initial build with CMake
      run: |
        cmake -S . -B build \
          -DCMAKE_BUILD_TYPE=Release \
          -DCMAKE_C_COMPILER_LAUNCHER=ccache \
          -DCMAKE_CXX_COMPILER_LAUNCHER=ccache \
          -Wno-dev

    - name: Build all targets
      run: cmake --build build -- -j $(nproc) unit_tests

    - name: Run unit tests
      run: ./build/unit_tests
      
    - name: Check ccache stats
      run: ccache -s
