name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    runs-on:
      group: k23a
    
    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create archive
        run: |
          # Use ref_name to get 'v2.0.0' instead of 'refs/tags/v2.0.0'
          ARCHIVE_NAME="${{ github.event.repository.name }}-${{ github.ref_name }}.tar.gz"
          
          # Create the tarball
          tar -czf "$ARCHIVE_NAME" include pdfs report scripts src tests

      - name: Create Release and Upload
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          tag_name: ${{ github.ref_name }}
          name: SIGMOD2025 ${{ github.ref_name }}
          files: ${{ github.event.repository.name }}-${{ github.ref_name }}.tar.gz
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}